  <div class="icons">
    <ul>
      <li>
        <a href="/resume">
          <img src="/assets/icons/resume.png"/>
          <p>Resume</p>
        </a>
      </li>
      <li>
        <a href="/projects">
          <img src="/assets/icons/projects.png"/>
          <p>Projects</p>
        </a>
      </li>
      <li>
        <a href="/contact">
          <img src="/assets/icons/contact.png"/>
          <p>Contact</p>
        </a>
      </li>
    </ul>
  </div>