<nav id="navbar-footer"
      class="navbar navbar-main navbar-expand-lg navbar-dark justify-content-between navbar-footer">
      <ul class="navbar-nav navbar-nav-hover flex-row align-items-center">
          <li class="nav-item">
              <button class="nav-link">
                  <span class="nav-link-inner-text">Start</span>
              </button>
          </li>
      </ul>
      <div class="time text-center">
          <span class="time text-uppercase">1:47 PM</span>
      </div>
  </nav>