<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Geanie Blanco | Fullstack Developer</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
  <!-- Bootstrap CSS -->
  <link type="text/css" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- Pixel CSS -->
  <link type="text/css" rel="stylesheet" href="vendor/css/pixel.css">
  <!-- Local CSS -->
  <link type="text/css" rel="stylesheet" href="assets/style.css">
</head>
</head>
<body class="{{template}}">
  <h1>Geanie Blanco | Fullstack Developer</h1>
  {{>navigation}}
  <div class="container">
	  {{{body}}}
  </div>
  {{>startBar}}
</body>
<script src="/vendor/js/jquery.min.js"></script>
<script src="/vendor/js/bootstrap.min.js"></script>
<script src="/vendor/js/pixel.js"></script>
<script src="/assets/js/contact.js"></script>
</html>