<div class="card card-tertiary">
    <div class="card-header text-center"><span>Hey there, I'm Geanie!</span></div>
    <div class="card-body">
        <p>I'm a fullstack engineer, and current frontend engineer at <a>PuppySpot</a>. I'm an advocate for development bootcamps, Daenerys Targaryen, and accessible technology and design. Outside of coding my hobbies include cooking, sewing, supporting the local music scene, and more coding. Want to collab? Let's chat!</p>
        <button class="btn mr-2 mb-2 btn-primary border-dark">
            <span class="btn-text">Projects</span>
        </button>
        <button class="btn mr-2 mb-2 btn-primary">
            <span class="btn-text">Resume</span>
        </button>
    </div>
    <img/>
</div>