<div class="card card-tertiary">
    <div class="card-header text-center"><span>Projects</span></div>
    <div class="card-body bg-white">
        <ul class="project-icons">
            <li>
                <a href="/project-showfundme">
                    <img src="/assets/icons/folder.png"/>
                    <p>ShowFundMe</p>
                </a>
            </li>
            <li>
                <a href="/project-portfolio">
                    <img src="/assets/icons/folder.png"/>
                    <p>Portfolio</p>
                </a>
            </li>
            <li>
                <a href="/project-forthethrone">
                    <img src="/assets/icons/folder.png"/>
                    <p>For the Throne</p>
                </a>
            </li>
            <li>
                <a href="/project-streetscape">
                    <img src="/assets/icons/folder.png"/>
                    <p>Streetscape</p>
                </a>
            </li>
        </ul>
    </div>
    <img/>
</div>