<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="work-tab" data-toggle="tab" href="#work" role="tab" aria-controls="work"
            aria-selected="true">Work</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education"
            aria-selected="false">Education</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="skills-tab" data-toggle="tab" href="#skills" role="tab" aria-controls="skills"
            aria-selected="false">Stack & Skills</a>
    </li>
</ul>
<div class="tab-content bg-white" id="myTabContent">
    <div class="tab-pane show active" id="work" role="tabpanel" aria-labelledby="work-tab">
        <ul>
            <li>
                <p class="lead">PuppySpot - Frontend Engineer</p>
                <p>July 2019 - Present</p>
            </li>
            <li>
                <p class="lead">ClassPass - Data Entry Associate, Machine Learning</p>
                <p>May 2019 - July 2019</p>
            </li>
            <li>
                <p class="lead">Tech Staffing Firm, Office Manager</p>
                <p>August 2018 - March 2018</p>
            </li>
        </ul>
        <br/>
        <h6>Awards</h6>
        <ul>
            <li>
                <p class="lead">Best Overall Hack</p>
                <p>Hackchella, April 2018</p>
            </li>
            <li>
                <p class="lead">Best Open Source Contribution</p>
                <p>Hackchella, April 2018</p>
            </li>
        </ul>
        <a href="https://www.linkedin.com/in/blancoregina/" class="btn btn-sm mr-2 btn-tertiary border-dark" type="button">
            <span class="btn-text">View More on LinkedIn</span>
        </a>
    </div>
    <div class="tab-pane" id="education" role="tabpanel" aria-labelledby="education-tab">
        <ul>
            <li>
                <p class="lead">General Assembly, UI Circuit</p>
                <p>May 2019</p>
            </li>
            <li>
                <p class="lead">Rutgers Coding Bootcamp, Fullstack Certificate</p>
                <p>August 2017 - February 2018</p>
            </li>
            <li>
                <p class="lead">Oneonta State, BA Communication Studies</p>
                <p>August 2011 - May 2015</p>
            </li>
        </ul>
        <a href="https://www.linkedin.com/in/blancoregina/" class="btn btn-sm mr-2 btn-tertiary border-dark" type="button">
            <span class="btn-text">View More on LinkedIn</span>
        </a>
    </div>
    <div class="tab-pane" id="skills" role="tabpanel" aria-labelledby="skills-tab">
        <ul>
            <li>
                <p class="lead">Technical</p>
                <p>Skilled: HTML5, CSS6, JavaScript(ES6), SASS, CSS Animations, Handlebars</p>
                <p>Intermediate: React, React Native, Laravel, Node.js</p>
                <p>Basic: PHP, MySQL, Webpack</p>
            </li>
            <li>
                <p class="lead">Soft Skills</p>
                <p>Public speaking, conflict management, critial thinking, copy editing, data entry, basic research methods | Typing: 78WPM </p>
            </li>
            <li>
                <p class="lead">Programs</p>
                <p>Sketch, Figma, Photoshop Elements, XCode, VS Code, Github, Bitbucket, Jira, Microsoft Suite, GSuite</p>
            </li>
        </ul>
        <a href="https://www.linkedin.com/in/blancoregina/" class="btn btn-sm mr-2 btn-tertiary border-dark" type="button">
            <span class="btn-text">View More on LinkedIn</span>
        </a>
    </div>
</div>
